pillow
psutil
lxml
hmmlearn
scikit-learn
scoop
pandas
scipy
numpy
matplotlib
multiprocess
sqlalchemy
PyWavelets
tensorflow==2.6
keras==2.6
networkx
lmfit
scikit-image
opencv-python
lightgbm
sep
spectral
mysqlclient>=1.4.6
pymysql
timeout_decorator
xgboost
nltk
keras_pickle_wrapper
textblob
seaborn
transformers
einops
setuptools<58
deap==1.2.2