# .my.cnf
[mysqld]
datadir=scratch/db
socket=mysqldb.sock
user=cburdell3
symbolic-links=0
port=PORT_NUMBER # Replace Xs with random numbers

[mysqld_safe]
log-error=mysqldb.log
pid-file=mysqldb.pid

[mysql]
socket=scratch/db/mysqldb.sock # you can also try changing this path to be the same as the above one for socket, mileage may vary